<div class="datos">
  <h1><i>Alta de empleados</i></h1>
  <br><br><br><br>
  <div>
    <p>Nombre: </p>
    <input type="text" placeholder="nombre" #nombre>
    
    <p>Apellido: </p>
    <input type="text" placeholder="apellido" #apellido>
    
    <p>Cargo: </p>
    <input type="text" placeholder="cargo" #cargo>
    
    <p>Salario: </p>
    <input type="number" placeholder="0" #salario>
    
  </div>
  <input class="agregar" type="submit" value="Agregar">

  <div class="empleados" *ngFor="let empleado of empleados">
    <p>1 {{mariaBeltran.nombre}} {{mariaBeltran.apellido}} {{mariaBeltran.salario}} {{mariaBeltran.cargo}}</p>
    <p>2 {{martaGonzalez.nombre}} {{martaGonzalez.apellido}} {{martaGonzalez.salario}} {{martaGonzalez.cargo}}</p>
    <p>3 {{pedroPerez.nombre}} {{pedroPerez.apellido}} {{pedroPerez.salario}} {{pedroPerez.cargo}}</p>
    <p>{{empleados}}</p>
  </div>
</div>
